h1 {
    color:rgba(211, 67, 110, 0.63);
}

h2{
    color:rgb(11, 144, 206)
}

h3{
    color:rgb(255, 0, 106)
}

.grid{
    background-color: aquamarine;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer{
    background-color: burlywood;
    display:flex;
    justify-content: flex-start;
}